
<div *ngIf="cliente">
    <h2><span jhiTranslate="jhvitaApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhvitaApp.cliente.codCliente">Cod Cliente</span></dt>
        <dd>
            <span>{{cliente.codCliente}}</span>
        </dd>
        <dt><span jhiTranslate="jhvitaApp.cliente.ragioneSociale">Ragione Sociale</span></dt>
        <dd>
            <span>{{cliente.ragioneSociale}}</span>
        </dd>
        <dt><span jhiTranslate="jhvitaApp.cliente.partitaIVA">Partita IVA</span></dt>
        <dd>
            <span>{{cliente.partitaIVA}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cliente/'+ cliente.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
